
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #cc3636;
    color: #333;
}

header {
    background: #14800a;
    color: rgb(199, 180, 180);
    padding: 10px;
    text-align: center;
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 1000; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}


section {
    max-width: 800px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #2c3e50;
}

ul {
    padding-left: 20px;
}

.project {
    background: #ecf0f1;
    padding: 15px;
    margin-top: 10px;
    border-left: 5px solid #3498db;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin-top: 10px;
    padding: 10px;
    background: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #2980b9;
}

footer {
    text-align: center;
    padding: 15px;
    background: #2c3e50;
    color: white;
    margin-top: 20px;
}
